<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Home/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DashBoard/dashboard.css') }}">
    <script src="{{ url_for('static', filename='DashBoard/dashboard.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'Header/header.html' %}
    <div class="home-background">
        <h1 class="title">
            - DashBoard -
        </h1>
        <div class="first-container">
            <div class="card">
                <h4 class="subtitle">Cadastre uma nova doênça ou incidência</h4>
                <div class="card-item">
                    <input class="form-btn" type="button" value="Doênça" onclick="window.location.href='/disease/'">
                    <input class="form-btn" type="button" value="Incidência" onclick="window.location.href='/incidence/'">
                </div>
            </div>
            <div class="card">
                <h4 class="subtitle">Visualização dos dados epidemiológicos</h4>
                <label for="doencas">Selecione a Doênça:</label>
                <div class="card-item">
                    <select class="select-doenca" name="doencas" id="doencas">
                        <option value="" disabled selected>Clique para selecionar a doênça</option>
                    </select>
                    <input class="form-btn" type="button" value="Enviar">
                </div>
            </div>
            <div class="card">
                <h4 class="subtitle">Visualização dos dados de doença</h4>
                <p>
                    2ª Opção
                </p> 
            </div>
        </div>
    </div>
    {% include 'Footer/footer.html' %}
</body>
</html>