<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Footer/footer.css') }}">
</head>
<body>
    <div class="footer-background">
        <div class="footer-titulo">
            <p>
                EpidemiApp - Sistema de Coleta e Visualização de Dados Epidemiológicos
            </p>
            <hr>
            <p class="footer-text">
                Este projeto tem como objetivo apresentar avaliação referente a matéria de Laboratório de Engenharia de Software ministrada pelo Professor Fabrício Galende Marques de Carvalho
            </p>
            <p class="footer-text">
                Todos os direitos reservados - FATEC SJC 
            </p>
        </div>
    </div>
</body>
</html>